body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:340px;
  width:365px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u7 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:10px;
  top:86px;
  width:365px;
  height:484px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:484px;
}
#u9 {
  position:absolute;
  left:2px;
  top:234px;
  width:361px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u11 {
  position:absolute;
  left:2px;
  top:315px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:86px;
  width:370px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:645px;
}
#u15 {
  position:absolute;
  left:2px;
  top:314px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:128px;
  width:375px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:646px;
}
#u19 {
  position:absolute;
  left:2px;
  top:315px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:86px;
  width:370px;
  height:224px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:224px;
}
#u21 {
  position:absolute;
  left:2px;
  top:104px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
