body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:647px;
}
#u1 {
  position:absolute;
  left:2px;
  top:316px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  opacity:0;
  color:transparent;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:390px;
  width:370px;
  height:130px;
  opacity:0;
  color:transparent;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:130px;
}
#u5 {
  position:absolute;
  left:2px;
  top:57px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:325px;
  top:394px;
  width:48px;
  height:119px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-size:16px;
  color:#868686;
  line-height:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:119px;
}
#u7 {
  position:absolute;
  left:2px;
  top:15px;
  width:44px;
  word-wrap:break-word;
}
