body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:728px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:728px;
}
#u1 {
  position:absolute;
  left:2px;
  top:356px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:646px;
  width:360px;
  height:64px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:64px;
}
#u3 {
  position:absolute;
  left:2px;
  top:24px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
